body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }
.pot { width: 100%; }
/* .pot input { width: 60%; } */

.section {
  border: 1px dotted grey;
  border-radius: 5px;
  padding: 2em 1em;
}

.page-wrap {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.sidebar {
  order: 1;
  margin-left: 1em;
  margin-top: 1em;
  max-width: 200px;
}

.section-status {
  flex: 0 1 auto;
  max-width: 100%;
}
.section-metering, .section-watson {
  border-top: 0;
  padding: 1em;
  flex: 0 1 auto;
  max-width: 100%;
}

ul#user-meters {
  list-style-type: none;
  padding: 0;
}

.single-meter {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 20px;
  position: relative;
  /* width: 300px; */
  width: 100%;
}

.single-meter .inner {
  background-color: grey;
  display: block;
  height: 50%;
  width: 0%;
}

.inner, .slider {
  position: absolute;
  height: 100%;
  top: 0; left: 0;
  width: 100%;
}

.slider {
  width: 100%;
  z-index: 10;
}

.inner-left {
  background-color: black;
}

.inner-right {
  top: 50%;
}

button {
  background-color: #d7d7d7;
  border: 0px solid transparent;
  border-radius: 5px;
  display: block;
  /* font: 16px "Helvetica"; */
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
}

button:active {
  background-color: #71e0ec;
}

.user-count {
  /* float: right; */
  display: block;
  font-size: 12px;
  margin-top: 2em;
  text-align: center;
}

.play-pattern, .record-pattern, .blippy {
  display: none;
}

.directions {
  max-width: 800px;
  min-height: 25px;
  width: 100%;
}

.page-viewer .section-metering,
.page-viewer .section-status {
  display: none;
}