title Socket.IO chat
link(href='./client.css' rel='stylesheet')
.page-wrap
  .section.section-status
    button.init-audio Enable audio
    button.initialize Open microphone
    button.init-camera Open camera
    button.play-pattern Play pattern
    span.user-count Users: 1
  .section.section-metering
    //- .pot.pot-master
      //- input#master(type='range' name='master' min='-80' max='6' step='0.5' value='0')
      //- label(for='master') Master
      
    ul.user-meters
        //  <li class="single-meter"><span class="inner"></span></li>   
    
    //- .button.button-mute
    //-   input#mute(type='checkbox' name='mute')
    //-   label(for='mute') Mute
  
  #indiv-canvas

script(src='./client.js' type='text/javascript')