title EGREGORE
link(href='./client.css' rel='stylesheet')
.page-wrap
  .section.section-status
    button.init-audio Enable audio
    button.initialize Open microphone
    button.init-camera Open camera
    button.record-pattern Record pattern
    button.play-pattern Play pattern
    button.piece-start Start piece
    button.blippy Play blippies
    span.user-count Users: 1

  .section.section-metering
    .pot.pot-master 
      ul#user-meters

  h4.directions
  #indiv-canvas

//- include single-meter.pug
script(src='./client.js' type='text/javascript')